.check-box-group {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.check-box-group .check-box {
    height: 20px;
    width: 20px;
    cursor: pointer;
    appearance: none;
    display: none;
}

.check-box-group .check-box-label {
    display: block;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    padding: 8px 10px;
    border-radius: 7px;
    cursor: pointer;
    border: 1px solid #e1cbc4;
    color: #be441d;
    user-select: none;
    cursor: pointer;
}

.check-box-group .checked {
    display: block;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    padding: 8px 10px;
    border-radius: 7px;
    cursor: pointer;
    border: 1px solid #e1cbc4;
    user-select: none;
    cursor: pointer;
    color: #fff;
    background-color: #be441d;
}