.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 65%;
  border-radius: 40px;
  overflow: hidden;
}

.details img {
  position: relative;
  width: 100%;
  object-fit: cover;
  height: 350px;
}

.details .info {
  margin: 20px 30px;
}

.details h2 {
  font-size: 23px;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  font-weight: 400;
}

.details h3 {
  font-size: 18px;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  font-weight: 100;
}