.select {
  width: 250px;
}

.select select {
  width: 100%;
  padding: .6rem .7rem;
  border: 3px solid white;
  background-color: #212121;
  color: white;
  font-size: .9rem;
  border-radius: 4px;
}