.item-page{
max-width: 400px;
margin-bottom: 5px;
margin-right: 15px;
}
.item-page>div>img{
  width: 280px;
  height: 250px;
}
.details>p{
  display: block;
}
.item{
  display: flex;
  flex-wrap: wrap;
}
.price{
  display:flex;
  gap: inherit;
}