.view-page {
  padding: 30px 20px;
}

.view-page .items-container{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

}

.NFimg{
  padding-left: 70%;
}

.NFtext{
  padding-left: 95%;
  width: 55%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(109, 107, 107);
}
