.filter-bar {
  display: flex;
  margin-bottom: 20px;
  justify-content: flex-start;
  align-items: center;
  column-gap: 20px;
  padding-bottom: 30px;
  border-bottom: 1px solid #e3e3e3;
}

.filter-bar>.categories {
  display: flex;
}
