.view-page {
  padding: 30px 20px;
}


.view-page>h1 {

  margin: 70px 0 30px;
  padding: 0;
  color: rgb(102, 7, 62);
  text-align: center;


}

.view-page .view-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin: 32px;
}

.view-page .items-container{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}


.view-page .items-container .no-results{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-top: 100px;
}
.no-results{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-top: 100px;
}

 .no-results > img {
  width: 280px;
}

.no-results > p {
  font-size: 30px;
  font-weight: bold;
  color: #be441d;
  margin-top: 40px;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}
