.view-page {
  background-color: rgba(255, 255, 255, 0.651);
  
}
.view-page>.title {
 padding-left: 30px;
 padding-right: 30px;
 padding-top: 30px;
  
}

.view-container {
  height: 100%;
  width: 100%;
  padding: 30px;
  margin-top: 30px;
  background-color: rgba(255, 255, 255, 0.651);
  border-radius: 10px;
}

.view-container>.h1 {
  color: rgb(16, 18, 92);
}

.h1 {
  margin-top: 0px;
}

.label-name {
  color: rgb(37, 36, 36);
}

.items-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 5px;
  padding-right: 5px;
}

.item-card {
  margin: 10px;
  width: 300px;

}

.no-results > img{

  height: 350px;
  width: 350px;
}