.filter-bar {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    border-bottom: 1px solid rgb(199, 199, 199);
    min-height: 80px;
    width: 96vw;
    padding-left: 20px;
    margin-bottom: 20px;
}

.filter-bar .categories-in-view-page {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    min-height: 80px;
    align-content: center;
    justify-content: flex-start;
    padding-bottom: 10px;
}

.filter-bar .input-group .search-terms {
    height: 40px;
}
.filter-bar .selectarea-group {
    margin: 0;
}
.filter-bar .price-filter{
    width: 50px;
    height: 24px;
}