.filterBar {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    border-bottom: 1px solid rgb(199, 199, 199);
    height: 80px;
    padding-left: 20px ;
    padding-bottom: 12px ;
    margin-bottom: 20px;
}
.filterBar .inputGroup>input{
    display: flex;
    height: 40px;
}
.filterBar .selectareaGroup{
    margin: 0;
}