/* .input-group > input {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 3px;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.input-group > label {
  display: block;
  margin-bottom: 5px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  color: #666;
  letter-spacing: 0.5px;
}

.input-group > label > span:nth-child(2) {
  color: rgb(210, 21, 21);
}

.input-group > input:focus {
  color: #212529;
  background-color: #fff;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}
 */



.input-group > input {
  font-family: monospace;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* background-image:  linear-gradient(120deg, rgba(182, 212, 200, 0.377), rgba(178, 159, 206, 0.493));
  border-radius: 4px;
  border: 1px transparent;
  border-radius: 5px; */

  background: rgba(255, 255, 255, 0.25);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(6.2px);
-webkit-backdrop-filter: blur(6.2px);
border: 1px solid rgba(255, 255, 255, 0.47);
/* From https://css.glass */
background: #eebdad84;
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(6.2px);
-webkit-backdrop-filter: blur(6.2px);
border: 1px solid rgba(255, 255, 255, 0.47);


  width: max-content;
  height: 40px;
  min-width: 220px;

}

.input-group > label {
  display: block;
  margin-bottom: 5px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  color: #666;
  letter-spacing: 0.5px;
}

.input-group > label > span:nth-child(2) {
  color: rgb(210, 21, 21);
}

.input-group > input:focus {
  color: #212529;
  background-color: #fff;
  border-color: #86b7fe;
  outline: 0;

}

.input-group > input:focus::placeholder {
  color: transparent;
}


