.checkbox-group {
  display: flex;
  align-items: center;
 /* user-select: none; */
}

.checkbox-group>input {
 display: none;
}

.checkbox-group>label {
  display: block;
  padding: 8px 10px;
  border-radius: 7px;
  cursor: pointer;
  border: 1px solid #e1cbc4;
  color: #1d60be;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  color: #666;
  letter-spacing: 0.5px;
}

.checkbox-group>label>span:nth-child(2) {
  color: rgb(210, 21, 21);
}

.checkbox-group>label.checked {
  background-color: #4f9dbc;  
  color: #fff;

}