.styled-form>input {
    display: block;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: var(--border-radius);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.styled-form>input:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
}

.input-group,
.textarea-group,
.select-group {
    margin-bottom: 20px
}

.add-form-button:disabled {
    cursor: not-allowed;
    color: #212529;
    background-color: #dee5ec;
    border-color: #dae0e5;
}