
.textarea-group{
  padding: 10px 30px;
  /* padding-bottom: 10px; */

}

label{
  margin-right: 20px;
  display: block;
}
textarea {
  width: 200px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
.textarea-group label span:nth-child(2){
  color: red;
}
