.cart {
  margin: 10px;
}
.cart > .cart-header {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
.cart > .cart-header > span {
  font-weight: 600;
  font-size: 18px;
}
.cart > .list > .row {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap:  10px;
  font-size: 22px;
  font-weight: 400;
  text-transform: capitalize;
}
.row > .cart-item-img{
  display: inline-flex;
  width: 120px;
  height: 150px;
}
.row > .cart-item-img > img{
  min-width: 120px;
  max-width: 120px;
  min-height: 150px;
  max-height: 150px;
  border: 3px solid #ccc;
  border-radius: 10px;
  box-sizing: content-box;
}
.row > .cart-info{
  flex-grow: 1 ;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  margin-bottom: 5px;
}
.row > .cart-info > h3{
  display: inline;
  margin: 20px 0px;
}
.row > .cart-info > .item-price{
  margin-bottom: 5px;
}
.row > .total-price{
  min-width: 200px;
  display: flex; 
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  margin-bottom: 5px;
  margin: 10px;
}
.row > .total-price > button { 
  opacity: 0.8;
  background: none;
  border: none;
  font-size: 20px;
}
.row > .total-price > button:hover { 
  opacity: 1;
  cursor: pointer;
}
.row > .total-price > button > img{
  width: 20px;
  margin-right: 5px;
}
.row > .cart-info > .quantity-selector{
  border: 3px solid #DDD;
  display: inline-flex;
  justify-content: space-around;
  max-width: 159px;
  border-radius: 15px;
  color: #999;
}
.row > .cart-info > .quantity-selector > button{
  border: 0px;
  background: none;
  font-size: 26px;
  font-weight: 600;
  color: #aaa;
}
.row > .cart-info > .quantity-selector > button:hover{
  color: #888;
  cursor: pointer;
}
.In-Stock {
  color: rgb(33, 171, 33);
  font-weight: 700;
}