.cart-page {
    margin-top: 55px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 10px 20px;
    width: 94vw;
    margin-bottom: 0px;
}

.cart-page .header-in-cart {
    display: flex;
    justify-content: space-between;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #db4530;
    text-shadow: 1px 1px 3px black;
    font-weight: 700;
    font-size: 35px;
    padding-left: 40px;
    user-select: none;
    margin-top: 20px;
    height: 70px;
}

.cart-page .header-in-cart>span {
    display: flex;
    align-items: center;
}

.cart-page .price-and-clear {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    padding-left: 40px;
    width: 91vw;
    margin-bottom: 30px;
}

.cart-page .price-and-clear>span {
    color: #ec4c37;
    font-size: 20px;
    margin-bottom: 8px;
    text-shadow: none;
    font-weight: 700;
}

.cart-page .price-and-clear>button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    box-shadow: 1px 1px 3px black;
}

.cart-page .price-and-clear>button:active {
    box-shadow: -1px -1px 3px black;
}

.empty-cart-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px 20px;
    width: 95vw;
    margin-bottom: 0px;
    margin-top: 55px;
    user-select: none;
}

.empty-cart-page .header-in-empty-cart {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #db4530;
    text-shadow: 1px 1px 3px black;
    font-size: 50px;
    user-select: none;
}

.empty-cart-page img {
    margin-top: 70px;
    width: 500px;
    height: 500px;
}