.input-group label {
  color: #fab700;
  font-weight: 700;
  position: relative;
  bottom: 4px;
  font-size: 17px;
}

.input-group input {
  width: calc(100% - 1.6rem - 6px);
  padding: .6rem .8rem;
  font-size: 1rem;
  font-weight: 500;
  color: white;
  background-color: #212121;
  background-clip: padding-box;
  border: 3px solid white;
  border-radius: 4px;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.input-group input:focus {
  background-color: #1a1a1a;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.25);
}

.input-group label .required {
  color: red;
}

.input-group label {
  display: flex;
  justify-content: left;
}