.select-group {
  display: flex;
  align-items: center;
  width: 25vw;
  margin-bottom: 20px;
}

.select-group>select {
  display: block;
  width: 40%;
  padding: 0.375rem 2.25rem 0.375rem 0.75rem;
  -moz-padding-start: calc(0.75rem - 3px);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  -moz-appearance: none;
}

.select-group>textarea {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 3px;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.select-group>textarea:focus {
  color: #212529;
  background-color: #fff;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}

.select-group>label {
  display: block;
  /* margin-bottom: 5px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  color: #666;
  letter-spacing: 0.5px; */
}

.select-group>label>span:nth-child(2) {
  color: rgb(210, 21, 21);
}