.item-card a {
    text-transform: capitalize;
    color: black;
    text-decoration: none;
    font-size: 25px;
    text-align: center;
    display: block;
    margin-top: 10px;
}

.item-card a:hover {
    text-decoration: underline;
}

.item-card>.card-wrapper {
    border-radius: 10px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.276);
    width: 300px;
    height: 450px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.item-card>.card-wrapper:hover {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.276);
}

.item-card>.card-wrapper>img {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.item-card>.card-wrapper>.item-description {
    flex-grow: 1;
}

.item-card>.card-wrapper>.item-description p {
    text-align: left;
    padding: 0 10px;
    margin: 10px
}

.item-card>.card-wrapper>.buy-item {
    border-top: 1px solid rgba(69, 69, 69, 0.18);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.item-card>.card-wrapper>.buy-item>.price {
    display: inline-block;
    font-weight: bold;
}

.item-card>.card-wrapper>.buy-item>.item-quantity>button {
    width: 30px;
    height: 30px;
    line-height: 0px;
}

.item-card>.card-wrapper>.buy-item>.item-quantity>.quant {
    display: inline-block;
    text-align: center;
    width: 30px;
}