.item-card a {
    text-transform: capitalize;
    color: black;
    text-decoration: none;
    font-size: 25px;
    text-align: center;
    display: block;
    margin-top: 10px;
}

.item-card a:hover {
    text-decoration: underline;
    color: #007bfd;
}

.item-card {
    width: 350px;
    height: 470px;
    box-sizing: border-box;
}


.item-card img {
    border-top-right-radius: var(--border-radius);
    border-top-left-radius: var(--border-radius);
}

.item-card .item-description {
    flex-grow: 1;
}

.item-card .item-description p {
    text-align: left;
    padding: 0 10px;
    margin: 10px
}

.item-card .buy-item {
    border-top: 1px solid rgba(69, 69, 69, 0.18);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.item-card .buy-item>.price {
    display: inline-block;
    font-weight: bold;
}

.item-card .buy-item>.item-quantity>button {
    width: 30px;
    height: 30px;
    line-height: 0px;
}

.item-card .buy-item>.item-quantity>.quant {
    display: inline-block;
    text-align: center;
    width: 30px;
}