.header {
  padding: 16px;
  height: 2rem;
  background-color: rgba(0, 0, 0, 0.12);
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
}

.header>div {
  display: flex;
  justify-content: space-between;
  width: 12rem;
}

#app-title {
  font-weight: bold;
  font-size: larger;
}

.header-navigation-buttons>nav {
  margin-right: 50px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}


.header-navigation-buttons>nav>a {
  border: none;
  font-size: larger;
  background-color: transparent;
}

.header-navigation-as>nav>a:hover {
  cursor: pointer;
}

.header-navigation-buttons>nav>.current-page {
  border-bottom: 5px solid orangered;
  border-radius: 3px;

}