.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 100%;
    background-color: rgb(228 228 228);
    border: 1px solid rgb(192 192 192);
}

.header>.left {
    display: flex;
    height: 100%;
    width: 200px;
    user-select: none;
}

.header>.left>img {
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 60px;
}

.header>.left>h2 {
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #db4530;
    text-shadow: 1px 1px 3px black;
    font-size: 20px;
}

.header .right {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1px;
    width: 200px;
    height: 100%;
}

.header .right nav button {
    background: unset;
    border: unset;
    cursor: pointer;
    font-size: 14px;
    padding: 9px 20px;
}

.header .right nav button:hover {
    text-shadow: -1px 2px 3px #777777;
}

.header .right nav button:active {
    text-shadow: -1px 2px 3px #333;
}

.header .right nav button.current {
    background-color: #be441d;
    border-radius: 5px;
    color: white;
}