@import url('https://fonts.googleapis.com/css2?family=Alkalami&display=swap');
.header-container{
  display: flex;
 align-items: center;
  width: 100%;
  height: 3.6rem;
  margin: 0px;
  position: sticky;
  top: 0px;
  background-color: #fff5e9;
  box-shadow: 0px 1px 0px #a3a3a380;
}

.logo{
  background-image: url("../../../../public/fish-svgrepo-com.svg");
  margin: 0px 0px;
  padding-right: 0px;
  width: 70px;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.left-header{
  display: flex;
  align-items: center;
  width: 50%;
  height: 100%;
  justify-content: flex-start;
}

.right-header{
  display: flex;
  column-gap: 20px;
  align-items: center;
}

.user-badge {
  display: flex;
  align-items: center;
  column-gap: 10px;
  font-size: 12px;
  font-weight: bold;
  color: #777777;
}

.user-badge > button{
  appearance: none;
  background: none;
  border: none;
  font-weight: bold;
  color: #999;
  cursor: pointer;
}

.user-badge > button:hover,.user-badge > button:active,.user-badge > button:focus{
  color: #666;
}

.user-badge > img {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}



.resturant-name{
  font-family: 'Alkalami', serif;
  font-size: 30px;
  margin: 10px 0px;
  padding: 0px 10px;
  padding-left: 0;
  padding-top: 15px;
}
.nav-btn{
  position: sticky;
  background-color: aliceblue;
  color: #d14841;
  font-weight: bolder;
  border: none;
  padding: 10px 20px;
  font-size: 1.4rem;
  border-radius: 7px;
  cursor: pointer;
  text-decoration: none;
}

.nav-btn:hover{
  background-color: #d1d3d4;
}
.nav-btn:active{
  transform: scale(0.95);
}
.active-nav-btn{
  position: sticky;
  left: 80%;
  color: #ffffff;
  background-color: #d14841;
  font-weight: bolder;
  border: none;
  padding: 10px 20px;
  font-size: 1.4rem;
  border-radius: 7px;
  cursor: pointer;
  text-decoration: none;
}

.active-nav-btn:active{
  transform: scale(0.95);
}