@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

.add-page {
  display: flex;
  padding: 30px 20px;
  flex-direction: column;
  align-items: center;
}

.menu-header {
  display: flex;
  font-family: 'Dancing Script', cursive;
  padding: 8px;
  background-image: radial-gradient(circle, #ffcce1cb, #ffd5e7, #ffc3dc, #ffbfda, #ffbad8);
  border-radius:  0px 7px 0px 7px;
  border: none;
  width: 65%;
  justify-content: center;
  border-bottom: 1px solid #ffcce1cb;
}