

.add-page {
  padding: 30px 20px;
  background:url("https://i.pinimg.com/474x/bb/56/49/bb5649e16379c828adc27919076135e6--disney-pics-disney-.jpg");
}
.add-page .clock {
  position: fixed;
  right: 28px;
  bottom: 50px;
  background-color: #ecdcd6;
  padding: 6px 18px;
  border-radius: 19px 36px;
  border-bottom: 3px solid #a44a2a;
  z-index: 10;
}
