
.multivalue {
  list-style: none;
  margin-top: 10px;
  padding: 5px 10px;
  font-weight: bolder;
  /* width: 500px; */


}

.multivalue>ul {
  list-style: none;
  /* margin-top: 10px; */
  padding: 5px 10px;
  border: 1px solid #ddd;
  background-color: white;
}

.multivalue>ul>li {

  display: flex;
  padding: 8px 0;
  justify-content: space-between;


}
.nemo-button{
  width: 5rem;
  border: none;
  background-color: none;
 color: white;
font-weight: bolder;
margin-top: .5rem;
padding: .2rem;
background: unset;
background: rgb(173, 147, 190);

}
