.MultivalueInputWrapper{
  max-width: 265px;
}

.MultivalueInputWraper > .controls {
  display: flex ;
  align-items: flex-end;
}

.MultivalueInputWrapper > .controls > .input-group >input{
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.MultivalueInputWrapper > .controls > .input-group {
  margin-right: 10px;
}

.MultivalueInputWrapper > .controls > button {
  height: 30px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

