.head-container >h1{
  border: 0 solid rgb(238, 229, 229);
  box-shadow: -3px 1px 2px 2px;
  margin-bottom: 20px;
  color: orange;
  display: flex;
  padding-left: 30px;
  margin-top: -.1rem;
  padding: 15px;

}
.head-container >h1> img {
  width:50px;
  
}


.right nav {
  display: flex;
}

.right nav a {
  background: unset;
  border: unset;
  cursor: pointer;
  /* font-size: 14px; */
  padding: 9px 20px;
  text-decoration: none;
  color: inherit;
  margin: 1rem;
}

.right nav a:hover {
  text-shadow: -1px 2px 3px #777777;
}

.right nav a:active {
  text-shadow: -1px 2px 3px #333;
}

.right nav a.current {
  background-color: orange;
  border-radius: 5px;
  color: white;
}