.filter-bar {
    display: flex;
    margin-bottom: 20px;
    justify-content: space-around;
    align-items: flex-end;
    column-gap: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e3e3e3;
    box-shadow: 2px 2px 5px 0px #f1cea9;
    margin: 34px;
 
}
.filter-bar>.categories {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}
