header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
  position: sticky;
}
.Header  img{
  width: 100px;
  height: 100px;
}
.Header h1{
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: -webkit-linear-gradient(155deg, rgb(255, 255, 255), #f87e04);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.Header {
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.Header .right nav {
  display: flex; 
}

.Header .right nav a {
  background: unset;
  border: unset;
  cursor: pointer;
  font-size: 14px;
  height: 20px;
  margin-top: 40px;
  padding: 9px 20px;
  text-decoration: none;
}

.Header .right nav a:hover {
  text-shadow: -1px 2px 3px #777777;
}

.Header .right nav a:active {
  text-shadow: -1px 2px 3px #333;
}

.Header .right nav a.current {
  background-color: #d2ad78;
  border-radius: 5px;
  color: white;
}

.Header > .right > nav >.cart-icon {
  position :relative ;
}
.Header > .right > nav >.cart-icon>a> img {
  padding: 9px 20px;  
  width: 30px;
}
.Header > .right > nav >.cart-icon>a> span {
  position: absolute;
  background: #d2ad78;
  border-radius: 10px;
  color: #fff;
  min-width: 18px;
  min-height: 20px;
  text-align: center;
  right: 30px;
  top: 34px;
  z-index: 3;
  font-size: 12px;
}

.Header  .user-badge {
  display: flex;
  align-items: center;
  column-gap: 10px;
  font-size: 12px;
  font-weight: bold;
  color: #777777;
}

.Header  .user-badge > img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.Header .user-badge > button {
  appearance: none;
  background: none;
  border: none;
  font-weight: bold;
  color: #999;
  cursor: pointer;
}



.Header .user-badge > button:hover,
.Header  .user-badge > button:active,
.Header  .user-badge > button:focus {
  color: #666;
}