.websiteHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border-bottom: 1px solid rgb(180, 76, 6);
  color: #66073e;
  position: sticky;
  top: 0;
  background-color: aliceblue;
}

.websiteHeader>.left>h1 {
  font-size: 18px;
  color: #be441d;
  line-height: 1.2;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin: 0;
}


.websiteHeader>.left>h1>img {
  height: 65px;
  width: auto;
  margin-right: 15px;

}



.websiteHeader>.left {
  display: flex;
  align-items: center;
}




.websiteHeader .right>nav {
  display: flex;

}

.websiteHeader .right {
  display: flex;
  column-gap: 20px;
  align-items: center;

}

.websiteHeader .right>span {

  padding-top: 0px;
}

.websiteHeader .right nav a {
  background: unset;
  border: unset;
  cursor: pointer;
  font-size: 14px;
  padding: 9px 20px;
  text-decoration: none;
  color: inherit;


}

.websiteHeader .right nav a:hover {
  text-shadow: 3px 2px 10px #59d8e1;
}

.websiteHeader .right nav a:active {
  text-shadow: -1px 2px 3px rgb(216, 88, 3);
}

.websiteHeader .right nav a.current {
  background-color: #a70c65;
  border-radius: 5px;
  color: white;
}

.websiteHeader .right .user-badge>button:hover,
.websiteHeader .right .user-badge>button:active,
.websiteHeader .right .user-badge>button:focus {
  color: #666;
}

.websiteHeader .right .user-badge {
  display: flex;
  align-items: center;
}

button {
  border: none;
  background: none;
  margin-left: 10px;
}

.orange {
  border-radius: 50%;
  padding-right: 7px;
 
}

.websiteHeader .right>.cart {
  position: relative;
}

.websiteHeader .right>.cart>img {
  width: 30px;
  height: 30px;
}

.websiteHeader .right>.cart>.count {
  position: absolute;
  color: #fff;
  top: -8px;
  right: -11px;
  z-index: 2;
  font-weight: bold;
  background: #f15a29;
  padding: 2px;
  border-radius: 50%;
  font-size: 12px;
  min-width: 15px;
  min-height: 15px;
  text-align: center;
}