.webisteHeader {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0px 20px;
  border-bottom: 1px solid rgb(180, 76, 6);
}

.webisteHeader>.left>h1 {
  font-size: 21px;
  color: #c33407;
  line-height: 1.2;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}


.webisteHeader>.left>h1>img {
  height: 65px;
  width: auto;
  margin-right: 15px;
}



.webisteHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
}

.webisteHeader>.left>h1 {
  font-size: 18px;
  color: #be441d;
  line-height: 1.2;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin: 0;
}



.webisteHeader .right nav {
  display: flex;
  margin-right: 100px
}

.webisteHeader .right nav button {
  background: unset;
  border: unset;
  cursor: pointer;
  font-size: 17px;
  padding: 9px 20px;
 
}

.webisteHeader .right nav button:hover {
  text-shadow: 3px 2px 10px #59d8e1;
}

.webisteHeader .right nav button:active {
  text-shadow: -1px 2px 3px rgb(216, 88, 3);
}

.webisteHeader .right nav button.current {
  background-color:#a70c65;
  border-radius: 5px;
  color: white;
}