.webisteHeader {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
  background-color: rgba(201, 218, 233, 0.726);

}

.webisteHeader>.classWhichHaveHeaderContent>h1 {
  font-size: 18px;
  color: #be441d;
  line-height: 1.2;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}


.webisteHeader>.classWhichHaveHeaderContent>h1>img {
  height: 35px;
  width: auto;
  margin-right: 5px;
}


.webisteHeader .right nav {
  display: flex;


}
.webisteHeadert  {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.webisteHeader .right nav a {
  background: unset;
  border: unset;
  cursor: pointer;
  font-size: 14px;
  padding: 9px 20px;
  
}

.webisteHeader .right nav a:hover {
  text-shadow: -1px 2px 3px #777777;
}

.webisteHeader .right nav a:active {
  text-shadow: -1px 2px 3px #333;
}

.webisteHeader .right nav a.current {
  background-color: #be441d;
  border-radius: 5px;
  color: white;
}