.websiteHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
}
.cart{
  color: black;
  font-size: medium;
  margin-top: 8px;
}
.websiteHeader>.left>h1 {
  font-size: 18px;
  color: #627cd1;
  line-height: 1.2;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin: 0;
}


.websiteHeader>.left>h1>img {
  height: 35px;
  width: auto;
  margin-right: 5px;
}

.websiteHeader .right nav {
  display: flex;
}

.websiteHeader .right nav a {
  background: unset;
  border: unset;
  cursor: pointer;
  font-size: 14px;
  padding: 9px 20px;
}

.websiteHeader .right nav a:hover {
  text-shadow: -1px 2px 3px #777777;
}

.websiteHeader .right nav a:active {
  text-shadow: -1px 2px 3px #333;
}

.websiteHeader .right nav a.current {
  background-color: #627cd1;
  border-radius: 5px;
  color: white;
  height: min-content;
}
.right{
  display: flex;
}
.user-info{
  display: flex;
  margin-right: 10px;
}
.user-info >img{
 width: 35px;
 height:35px;
 border-radius: 30px;
 margin-left: 5px;
}
.user-info > h3{
  font-size: 15px;
  color: black;
  margin-left: 5px;
  margin-top: 10px;
}
.websiteHeader .right .user-info > button {
  appearance: none;
  background: none;
  border: none;
  font-weight: bold;
  color: #999;
  cursor: pointer;
}

.websiteHeader .right .user-info > button:hover,
.websiteHeader .right .user-info > button:active,
.websiteHeader .right .user-info > button:focus {
  color: #666;
}