.noAccess {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  align-items: center;
  font-size: 16px;
}
.noAccess > img {
  width: 40px;
  margin-right: 20px;
}
.noAccess > p {
  color: #0e0d0e;
  font-weight: bold;
}
