.Guard {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(201, 218, 233, 0.726);
}

.Guard>img {
  border-radius: 6px;
  height: 90%;
  width: 90%;
  margin: 10px;
}

.Guard>p {
  display: block;
  font-size: 15px;
  font-family: cursive;
  padding: 10px;
  height: 10%;
  width: 10%;
  margin: 15px;
}