

 .bou  {
  height: 41px;
  width: 57px;
  position: relative;
  bottom: 34px;
  left: 60%;
  border-radius: 15px;

}

.multivalueInputWrapper > ul {
  list-style: none;
  margin-top: 10px;
  padding: 5px 10px;
  border: 1px solid rgb(20, 206, 159);
  background-color: rgb(32 29 29 / 62%)
}

.multivalueInputWrapper > ul > li {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  color: yellow;
}


.multivalueInputWrapper > ul > li:not(:last-child) {
  border-bottom: 1px solid rgb(20, 206, 159);
}


.multivalueInputWrapper > ul > li > button {
  appearance: none;
  border: none;
  background: none;
  font-family: 'Times New Roman';
  font-size: 15px;
  color: rgb(255, 0, 0);
  cursor: pointer;
}
