.Multivalue-input {
  max-width: 265px;
}

.Multivalue-input>.input {
  display: flex;
  align-items: flex-end;
}

.Multivalue-input>.input>.input-group>input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.Multivalue-input>.input>button {
  height: 38px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.Multivalue-input>ul {
  list-style: none;
  margin-top: 10px;
  padding: 5px 10px;
  border: 1px solid #ddd;
  background-color: white;
}

.Multivalue-input>ul>li {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
}

.Multivalue-input>ul>li:not(:last-child) {
  border-bottom: 1px solid #ddd;
}


.Multivalue-input>ul>li>button {
  appearance: none;
  border: none;
  background: none;
  font-family: 'Times New Roman';
  font-size: 15px;
}