.check-input>input {
    width: 20px;
    height: 20px;
    display: none;



}

.check-input>.checked {
  background-color: #cf5321;
  font-weight: bold;
  color: #c56868;
  padding: 8px 10px;
  border-radius: 7px;
  cursor: pointer;
  border: 1px solid #c74e1e;
  margin-right: 5px;
  -webkit-user-select: none;
  user-select: none;
}

.check-input>.not-checked {
  background-color: #d3a08c;
  font-weight: bold;
  color: #522626;
  padding: 8px 10px;
  border-radius: 7px;
  cursor: pointer;
  border: 1px solid #aaa09c;
  margin-right: 5px;
  -webkit-user-select: none;
  user-select: none;
}


.check-input>label>span {
    color: #d6d6d6;
    cursor: pointer;
    font-size: 20px;
    user-select: none;
}