.multivalueInputWrapper {
  max-width: 265px;
}

.multivalueInputWrapper > .controls {
  display: flex;
  margin: 0px;
  align-items: flex-end;
}

.multivalueInputWrapper > .controls > .input-group > input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: 0px;
  
}

.multivalueInputWrapper > .controls > button {
  margin: 0px;
  height: 70px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  /* border-top-right-radius: 3px; */
  /* border-bottom-left-radius: 3px; */
}

.multivalueInputWrapper > ul {
  list-style: none;
  margin-top: 10px;
  padding: 3px 15px;
  width:320px;
  border: 1px solid purple;
  background-color: none;
}

.multivalueInputWrapper > ul > li {
  display: flex;
  color: rgb(104, 10, 104);
  justify-content: space-between;
  padding: 8px 0;
}

.multivalueInputWrapper > ul > li:not(:last-child) {
  border-bottom: 1px solid rgb(233, 227, 227);
}


.multivalueInputWrapper > ul > li > button {
  appearance: none;
  border: none;
  background: none;

  font-family: 'Times New Roman';
  font-size: 25px;
  font-weight: bolder;
  cursor: pointer;
}
.style{
  background-color: none;
  border-radius: 40px;
  font-size: larger;
  border: 3px solid purple;  
}