.no-results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 100px;
}
.no-results>img {
  width: 280px;
}
.no-results>p {
  font-size: 30px;
  font-weight: bold;
  color: #999;
  margin-top: 40px;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}