.item {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    height: auto;
    border: 1px solid gray;
    box-shadow: 4px 3px 5px grey;
    width: 300px;
    height: 480px;
    margin: 7px;
}

.item img {
    height: 190px;
    width: 100%;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    width: 93%;
}

.item h2 {
    margin: 10px 3px;
    padding-left: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: -1px;
}

.item-description {
    margin: 2px 5px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-grow: 2;
    width: 100%;
    height: auto;
    font-size: 14px;
    overflow: auto;
    max-height: 140px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.ingre {
    margin-bottom: 8px;
    padding: 2px;
    min-height: 19px;
    max-height: 23px;
    overflow: auto;
}

.price {
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    border-top: 1px solid gray;
    user-select: none;
}

.the-price {
    font-size: 25px;
    height: 45px;
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 8px;
    color: #be441d;
}

.number-of-items {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
}

.number-of-items input {
    height: 34px;
    width: 50px;
    display: flex;
    justify-content: center;
    margin: 0px 0px;
    padding: 5px;
    font-size: 18px;
    border: 1px solid gray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.number-of-items input::-webkit-outer-spin-button,
.number-of-items input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.number-of-items>span {
    user-select: none;
    display: flex;
    justify-content: center;
    border: 1px solid#be441d;
    align-items: center;
    height: 44px;
    width: 50px;
    cursor: pointer;
    border-radius: 2px;
    background-color: #be441d;
    color: white;
    font-size: 30px;
    font-weight: 800;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.number-of-items>span:active {
    background-color: #fff;
    color: #be441d;
}