.main-class {
  display: flex;
  justify-content: space-between;
  /* flex-direction: column; */
  align-items: center;
  flex-wrap: wrap;
}

.main-class .logo {
  min-width: 70%;
}

.main-class .right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 20px;
  flex-grow: 1;

}

.right .cart {
  margin-right: 23PX;
  margin-left: 10px;
}

.main-class .right a {
  color: #000;
  text-decoration: none;
  padding: 10px;
  margin-right: 10px;
  border: none;
  cursor: pointer;
  background-color: #fff;
  box-shadow: 3px 3px 3px 1px #dbc4c4;
  padding: 10px;
}

.main-class .right .cart {
  padding: 5px;
}

.main-class .right a:focus {
  background-color: brown;
  background-color: #efc6b9;
  /* color: #fff; */
}

.user-badge {
  display: flex;
  gap: 20px;
}

.user-badge .user-name {
  /* box-shadow: 2px 2px 4px 0px #888888; */
  box-shadow: inset 0px 0px 6px 0px #888888;
  background-color: #eee;
  padding: 10px;
  background-color: #efc6b9;
}

.user-badge .logout {
  cursor: pointer;
  border: none;
  padding: 10px 15px;
  box-shadow: inset 0px 0px 6px 0px #888888;
  background-color: #efc6b9;
}

.user-badge .logout:focus {
  cursor: pointer;
}

.cart-click:focus {
  color: #fff;
}