*::-webkit-scrollbar {
  display: none;
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  padding-left: 25px;
  padding-right: 50px;
  box-shadow: 0 0.0625em 0.5em rgba(0, 0, 0, 0.3);
  background-color: white;
}

.page-header .logo {
  display: flex;
  justify-content: left;
  align-items: center;
}

.page-header .logo img {
  width: 55px;
  height: 50px;
}

.page-header .logo p {
  margin: 0;
  padding: 0;
  margin-left: 20px;
  font-size: 20px;
  font-weight: 700;
}

.page-header .btns .user-info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 10px;
}

.page-header .btns .user-info img {
  width: 30px;
  height: 30px;
  border-radius: 1000px;
  border: 1px solid black;
  margin-right: 10px;
}


.page-header .btns a {
  text-decoration: none;
  background-color: white;
  font-size: 14px;
  font-weight: 600;
  outline: none;
  border: none;
  width: fit-content;
  height: fit-content;
  margin: 0px 5px;
  padding: 8px 20px;
  border-radius: .4rem;
  cursor: pointer;
  transition: .2s all;
  color: black;
}

.page-header .btns {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-header .btns .logout {
  background-color: #e6394728;
}

.page-header .btns .logout:hover {
  background-color: #e63947;
}

.page-header .btns a:hover {
  background-color: #ffd29f;
}

.page-header .btns a:active {
  background-color: #ffb96a;
}

.page-header .btns a.selected {
  background-color: #fb8500;
}

.page-header .btns a.selected:hover {
  background-color: #eb7d00;
}

.page-header .btns a.selected:active {
  background-color: #dd7600;
}