
.webisteHeader {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 10px 20px;
    gap: 40em;
    border-bottom: 1px solid #ddd;
}
.webisteHeader > .left > h1 {
  font-size: 18px;
  color: #333131;
  line-height: 1.2;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin: 0;
}
.websiteHeader .right {
  display: flex;
  column-gap: 20px;
  align-items: center;
}
.count{
  font-family: ui-rounded;
    font-size: smaller;
    box-shadow: 1px 1px 1px 1px #97979730;
    padding: 3px;
    background: unset;
    background-color: #f1efef6e;
}

.webisteHeader > .left > h1 > img {
  height: 35px;
  width: auto;
  margin-right: 5px;
}
.right{
  justify-content: space-evenly;
  display: flex;
  align-items: center;
  gap: 20px;
}
.right a{
  border: unset;
  background: unset;
  color: #696363;
  text-decoration: none;
  margin: 2px;
  cursor: pointer;
  font-size: 14px;
  padding: 9px 20px;

}
.right a:hover{
  text-shadow: 2px 1px 2px #c3c3c3;
}
.right button:active{
  text-shadow: -1px 2px 3px rgb(102, 101, 101);
}

.right nav a.current {
  background-color: #be441d;
  border-radius: 5px;
  color: white;
}

.user-badge {
  display: flex;
  align-items: center;
  column-gap: 10px;
  font-size: 12px;
  font-weight: bold;
  color: #777777;
}

.user-badge > img {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
 .right .user-badge > button {
  appearance: none;
  background: none;
  border: none;
  font-weight: bold;
  color: #999;
  cursor: pointer;
}
.right .user-badge > button:hover,
 .right .user-badge > button:active,
 .right .user-badge > button:focus {
  color: #666;
}
