.checkbox-group {
  display: flex;
  align-items: center;
  user-select: none;
  margin: .5rem;
}

.checkbox-group>input {
  display: none;
}

.checkbox-group>label {
  display: block;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  color: #666;
  letter-spacing: 0.5px;
  padding: 8px 10px;
  border-radius: 7px;
  cursor: pointer;
  border: 1px solid #e1cbc4;
  color: #f15a29;
  text-shadow: 1px 1px 1px #492d23;
  font-weight: 10px;
}

.checkbox-group>label>span:nth-child(2) {
  color: #f15a29;
}

.checkbox-group>label.checked {
  background-color: #f15a29;  
  color: #fff;
}
