/* In the common css file we will write the styles shared between elements and classes */
/* never forget your friend (alt+shift+f) */
.nemo-button {
  appearance: none;
  border: 1px solid #134694;
  background: #165fc9;
  color: white;
  padding: 5px 10px;
  border-bottom-width: 2px;
  font-size: 13px;
  cursor: pointer;
}

.margin-button-component {
  margin-bottom: 15px;
}

.consistancy-between-pages {
  margin: 10px;
}

.pages-container {
  margin-top: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}