.nemo-button {
  appearance: none;
  border: 1px solid #be441d;
  background: #be441d;
  color: white;
  padding: 5px 10px;
  border-bottom-width: 2px;
  font-size: 13px;
  cursor: pointer;
}
.nemo-button:disabled {
  opacity: 0.5;
}