.nemo-button {
  appearance: none;
  border: 1px solid #7d2e14;
  background: #be441d;
  color: white;
  padding: 10px 15px;
  border-bottom-width: 2px;
  font-size: 13px;
  cursor: pointer;
  border-radius: 3px;
}

.nemo-button:disabled {
  opacity: 0.5;
}