@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 background-color: #c6ac8f;
 font-weight: bolder;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mydiv{

  border-radius: 30px;
  height: 50%;
  padding: 30px;
  margin-top: 20px;
 
}
.flex{
  display: flex;
  justify-content: space-around;
 
}


.img1{
  width: 90px;
  height: 90px;
}
.mydiv1{
  background-color: #d9d9d9;
  border-radius: 30px;

  padding: 30px;
  width: 525px;
  margin-top: 20px;
  box-shadow: 3px 5px 10px 0px #000000;
}