.not-found-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.not-found-page .msg1 {
  font-size: 40px;
  font-weight: 600;
  margin-top: -30px;
}

.not-found-page .msg2 {
  font-size: 23px;
  font-weight: 500;
  margin-top: -20px;
}