.filter-group {
    display: flex;
    align-items: center;
    column-gap: 20px;
    justify-content: space-around;
    margin-left: 80px;
    margin-right: 80px;

}

.filter-group>.category-checkboxes {
    display: flex;
    column-gap: 10px;
}

.filter-group>.priceFilters>.inputs {
    display: flex;
    column-gap: 10px;
}

.filter-group>.priceFilters>.inputs>.input-group>input {
    width: 40px;
}

.filter-group>.priceFilters>label {
    display: block;
    padding: 3px 0;
}