.wrapper {
  margin-bottom: 1rem;
  margin-left: 1rem;

}

.input-bar {
  display: flex;
  /* flex-direction: column; */
  /* flex-direction: row; */
}

.categories {
  display: flex;
  padding-right: 1rem;

}

.priceFilter {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wrapper>.priceFilter>.disc {
  margin-top: 1rem;
  color: rgb(182, 169, 146);
  display: block;
  margin-bottom: 1rem;
  /* background-color: red; */
}
.wrapper>.priceFilter>.disc>b {
  margin-top: 1rem;
  color: purple;
  margin-bottom: 1rem;
  /* background-color: red; */
}

.slider {
  margin-top: 2rem;
  -webkit-appearance: none;
  width: 10rem;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 20px;
  border-radius: 50%;
  background: purple;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: purple;
  cursor: pointer;
}