.filter-group {
    display: flex;
    align-items: center;
    column-gap: 20px;
    justify-content: flex-start;
    margin-left: 80px;
}

.filter-group > .category-checkboxes {
    display: flex;
    column-gap: 10px;
}