* {margin: 0; padding: 0;}
body {
  background-color: #2323239e;
  font: normal 18px Sniglet;
  color: white;
  text-align: center;

	font: normal 18px Sniglet; color: white; text-align: center;
}
h1{

  color: #1cc49d;
}

button{
    color: #1cc49d;
    background-color: #1b2f31;
    border-radius: 50px;
    height: 3em;
    width: 8em;
    font-size: large;
    font-weight: 600;
    text-align: center;
    
}
.point{
  cursor: pointer;
}
button:disabled{

display: none;
  
}