.add-form{
  padding: 20px 50px;
  margin: 20px;
  position: relative;
  border: 1px solid gray;
  background-color: rgb(222, 241, 235);
  box-shadow: 1px 3px 8px #b1a9a9;
}
.add-form > input {
  padding: 10px;
  min-width: 200px;
  border: 2px solid rgba(150, 150, 150, 0.473);
  margin-bottom: 20px;
  border-radius: 10px;
} 
button{
  padding: 7px;
  background-color: rgb(247, 248, 248);
  border: 2px solid rgb(158, 158, 158);
  border-radius: 5px;
  background-color: rgb(223, 223, 238);
  position: absolute;
  right: 10px;
  bottom: 10px;
}