html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: linear-gradient(#ff69b4, #00ffff);
  color: white;
  background-attachment: fixed;
}


.add-form>input {

  appearance: none;
  border: 1px solid rgb(12, 12, 12);
  outline: none;
  padding: 10px;
}

.add-form {
  position: absolute;
  top: 60%;
  left: 50%;
  width: 400px;
  padding: 15px 40px 40px 40px;
  transform: translate(-50%, -50%);
  background: rgb(0 0 0 / 24%);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
  border-radius: 10px;
}

.add-form>div>div>button {
  border: none;
  border-radius: 5px;
  bottom: 0;
  right: -100%;
  width: 30%;
  height: 30px;
  display: block;
  background-color: #ffb7e2;
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s;
  margin-left: 240px;
  margin-bottom: -26px;
  font-size: 15px;
  font-family: cursive;

}